// global
@import "global/_variables";
@import "global/_mixins";
@import "global/_scrollbar";
@import "global/_fonts";
@import "global/_normalize";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

// blocks

@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_facts";
@import "blocks/_bonus";
@import "blocks/_cards";
@import "blocks/_registration";
@import "blocks/_game-catalog";
@import "blocks/_sport-betting";
@import "blocks/_gamification";
@import "blocks/_banking";
@import "blocks/_review";
@import "blocks/_safely";
@import "blocks/_mobile";
@import "blocks/_what";
@import "blocks/_responsible-gaming";
@import "blocks/_faq";
@import "blocks/_cta-mobile";
@import "blocks/_games.scss";
@import "blocks/_footer";
