@import "variables";
@import "mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;

    background-color: #0a0a14;
    color: $color-white;

    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: #2de2e6;
    margin: 0;
}
