.hero {
    padding: 160px 0 80px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__top-inner {
        background-color: #0a0a21;
        border: 2px solid #ff00ff;
        box-shadow:
            inset 0 0 10px rgba(255, 0, 255, 0.3),
            0 0 15px rgba(255, 0, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 60px 150px;
        min-height: 300px;
        position: relative;
    }

    &__img {
        position: absolute;
        left: 0;
        bottom: -343px;
        width: 490px;
    }

    &__title {
        font-size: 42px;
        display: flex;
        flex-direction: column;
        line-height: 48px;
        margin: 0 0 40px 0;
    }

    &__title-top {
        font-weight: 900;
        color: #907eff;
    }

    &__title-bottom {
        font-weight: 400;
        color: #2de2e6;
    }

    &__description {
        color: #907eff;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    &__bottom-inner {
        max-width: 780px;
        display: flex;
        margin: 0 0 0 340px;
    }

    &__text {
        text-align: justify;
        color: #2de2e6;
    }
}
